body {
font-family: monospace;
}
ul li {
list-style: circle;
}
.list {
list-style: square;
}
#msg {
font-family: monospace;
}
:root {
  --light-text: #270202;
  --light-bg: #21d321;
  --dark-text: #00FF00;
  --dark-bg: #000000;
}
*{color: var(--fontcolor);
    font-family: Arial, Helvetica, sans-serif;
}
body{background: var(--bg); 
}
.light-theme {
  color: var(--light-text);
  background: var(--light-bg);
}
.dark-theme {
  color: var(--dark-text);
  background: var(--dark-bg);
}