button{
    background-color: black;
    color: azure;
    border-color: aqua;
    border-radius: 5px;
}

#btcadastrar{
    color: aqua;
    
    
}


#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
